<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Administração</title>
    <link rel="stylesheet"
        type= "text/css"
        href= "sec.css">
</head>
<body>
    <div class="menu">
        <span> <a href="index.html">Página inicial</a> </span>
        <span><a href="cursos.html">Cursos</a></span>
        <span><a href="noticias.html">Notícias</a></span>
    </div>
    <h2><center>Sobre o curso</center></h2>
    <p><br>Tornar-se um líder. Ser um empreendedor. Fazer investimentos. Você tem inúmeras possibilidades na graduação em Administração da Faculdade Impacta.<br/>

           <br> O curso é voltado para as exigências do mercado de trabalho atual e aborda de forma ampla o universo corporativo. Você vai aprender a definir as melhores estratégias para o bom funcionamento das empresas, para gerar lucros, controlar gastos e se destacar com qualidade entre as concorrentes.<br/>
            
           <br> Gerir equipes, negociar com fornecedores, solucionar diferentes problemas, atingir resultados positivos, aumentar a produtividade e aplicar novas tecnologias nas organizações também são funções do administrador.<br/></p>
    <h3>Professor Coordenador</h3>
    <div>
        <img align="left" src="CR7.jpeg" width="40%" height="15%"/>
    </div>
    <div class="texto">
        <h3>Cristiano Ronaldo</h3>
        <ul>5x Melhor do mundo</ul>
        <ul>5x Campeão da Liga dos Campeões</ul>
        <ul>Campeonato Inglês: 2006–07, 2007–08, 2008–09</ul>
        <ul>Campeonato Espanhol: 2011–12, 2016–17</ul>
        <ul>Prémio FIFA Ferenc Puskás: 2009</ul>
        <ul>Campeão da Europa: 2016</ul>
    </div>
    
        <p class="right"><strong>Bacharelado</strong></p>
        <p class="right">Período: Noturno (19h00 às 22h40)</p>
        <p class="right">Duração: 8 Semestres</p>
        <p class="right">Modalidade: Presencial</p>
        <p class="right">Período noturno: <em>Por: R$ 424,37*</em> - 30% OFF</p>

    
</body>
</html>