<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Banco de dados</title>
    <link rel="stylesheet"
        type= "text/css"
        href= "sec.css">
</head>
<body>
    <div class="menu">
        <span> <a href="index.html">Página inicial</a> </span>
        <span><a href="cursos.html">Cursos</a></span>
        <span><a href="noticias.html">Notícias</a></span>
    </div>
    <h2><center>Sobre o curso</center></h2>
    <p><br>O curso superior de tecnólogo em Banco de Dados tem conceito 4 na avaliação pelo MEC.<br/>

            <br>Um estudo recente conduzido nos EUA mostra que Big Data Analytics vai gerar 10 milhões de oportunidades de trabalho em todo o mundo na próxima década, ou seja, as profissões na área de Big Data e Data Science são muito desafiadoras e com demanda crescente. Você já considerou construir sua carreira nessa área?<br/>
            
            <br>O nosso curso torna o aluno apto a propor aplicações inteligentes e análise de Big Data para resolver desafios de negócios a partir dos grandes volumes de dados disponíveis, a fim de auxiliar nos aspectos decisórios administrativos, gerenciais e financeiros de uma empresa.<br/>
            
            <br>O aluno desenvolve habilidade com técnicas estatísticas e mineração de dados, conhecimento de linguagem de programação com foco em aprendizado de máquina ou machine learning, experiência em trabalhar com grandes volumes de dados, assim como técnicas de modelagem de dados e administração e segurança dos dados.<br/>
            
            <br>Entre as funções oferecidas no mercado, estão gerente de sistemas de banco de dados, desenvolvedor de projetos e consultor de banco de dados, analista de Business Intelligence, analista de dados, analista de Big Data, gerente de Analytics, engenheiro de dados, engenheiro de Big Data, gerente de segurança de dados, administrador de banco de dados e analista de sistemas de apoio à decisão. Essas são as carreiras com maior remuneração do mercado.<br/></p>
    <h3>Professor Coordenador</h3>
    <div>
        <img align="left" src="romario.jpeg" width="40%" height="15%"/>
    </div>
    <div class="texto">
        <h3>Romário de Souza Faria</h3>
        <ul>1x melhor do mundo</ul>
        <ul>1x Copa do mundo</ul>
        <ul>2x Copa América</ul>
        <ul>1x Campeonato Brasileiro</ul>
        <ul>1x Campeonato Espanhol</ul>
    </div>

    <p class="right"><strong>Tecnólogo</strong></p>
    <p class="right">Período: Matutino (08:00 às 11:40)</p>
    <p class="right">Período: Noturno (19h00 às 22h40)</p>
    <p class="right">Duração: 4 Semestres</p>
    <p class="right">Modalidade: Presencial</p>
    <p class="right">Período Matutino: <em>Por: R$ 630,50*</em> - 35% OFF</p>
    <p class="right">Período Noturno: <em>Por: R$ 711,75*</em> - 35% OFF</p>

</body>
</html>