<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ciencia da computação</title>
    <link rel="stylesheet"
        type= "text/css"
        href= "sec.css">
</head>
<body>
    <div class="menu">
        <span> <a href="/">Página inicial</a> </span>
        <span><a href="cursos.html">Cursos</a></span>
        <span><a href="noticias.html">Notícias</a></span>
    </div>
    <h2><center>Sobre o curso</center></h2>
    <p><br>O curso de Bacharelado em Ciência da Computação é ideal para quem deseja uma formação sólida na área de informática. Ele forma profissionais qualificados para a elaboração de programas e sistemas de informática para computadores ou dispositivos móveis, como celulares e tablets.<br/>

           <br> As aulas combinam teoria com prática em técnicas voltadas para resolver problemas reais. Desta forma, ao final do curso, o aluno poderá criar desde ferramentas mais simples, com softwares mais básicos, até sistemas muito complexos, como os de processamento de informações e redes corporativas.<br/>
            
            <br>Além disso, irá analisar as necessidades dos usuários, desenvolver aplicativos, gerenciar equipes de criação, instalar sistemas de computação e fazer a manutenção de redes de computadores e de conexões com a internet.<br/></p>
    <h3>Ptofessor Coordenador</h3>
    <div>
        <img align="left" src="ronaldo.jpg" width="40%" height="15%"/>    
    </div>
    <div class= "texto">
        <h3>Ronaldo Fenômeno</h3>
        <ul>3x melhor do mundo</ul>
        <ul>1x Copa do Mundo</ul>
        <ul>1x Copa do Rei e Recopa Europeia</ul>
        <ul>1x Copa América</ul>
    </div>
    
    <p class="right"><strong>Bacharelado</strong></p>
    <p class="right">Período: Matutino (08:00 às 11:40)</p>
    <p class="right">Período: Noturno (19h00 às 22h40)</p>
    <p class="right">Duração: 8 Semestres</p>
    <p class="right">Modalidade: Presencial</p>
    <p class="right">Período Matutino: <em>Por: R$ 756,60*</em> - 35% OFF</p>
    <p class="right">Período Noturno: <em>Por: R$ 854,10*</em> - 35% OFF</p>

</body>
</html>