<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cursos</title>
    <link rel="stylesheet"
        type= "text/css"
        href= "static/css/Site.css">
</head>
<body>
    <h1><center>ESCOLHA O CURSO QUE VAI REVOLUCIONAR</center></h1>
    <div class="menu">
        <span> <a href="/">Página inicial</a> </span>
        <span><a href="cursos.html">Cursos</a></span>
        <span><a href="noticias.html">Notícias</a></span>
    </div>
    <h1>Bacharelado</h1>
    <span class="imgcurso"><img src="estudantes.jpg" alt=""></span>
    <h3><a href="administracao.html">Administração</a></h3>
    <h3><a href="engenhariadecomputacao.html">Engenharia de computação</a></h3>
    <h3><a href="sistemasdeinformacao.html">Sistemas de Informação</a></h3>
    <h3><a href="cienciadacomputacao.html">Ciência da computação</a></h3>

    <h1>Técnologo</h1>
    <h3><a href="defesacibernetica.html">Defesa cibernética</a></h3>
    <h3><a href="bancodedados.html">Banco de dados</a></h3>
    <h3><a href="jogosdigitais.html">Jogos digitais</a></h3>
    <h3><a href="redesdecomputadores.html">Redes de computadores</a></h3>

    <h1>Técnico</h1>
    <h3><a href="mecatronica.html">Mecatrônica</a></h3>
    <h3><a href="telecomunicacoes.html">Telecomunicações</a></h3>

    <br/>
    <div align="center">
            <p>(11) 4002-8922</p>
            <p>Normalizada 2019.</p>
            <p>Todos os direitos reservados</p>
    </div>
</body>
</html>