<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Defesa cibernética</title>
    <link rel="stylesheet"
        type= "text/css"
        href= "static/css/sec.css">
</head>
<body>
    <div class="menu">
        <span> <a href="/">Página inicial</a> </span>
        <span><a href="cursos.html">Cursos</a></span>
        <span><a href="noticias.html">Notícias</a></span>
    </div>
    <h2><center>Sobre o curso</center></h2>
    <p><br>Cada vez mais utilizamos aplicações de softwares para atividades cotidianas e importantes em nossas vidas, como, por exemplo, atividades médicas e financeiras. Com advento da transformação digital e indústria 4.0, aumenta a preocupação da sociedade com aplicações maliciosas e invasões de sistemas de informação em geral, que podem causar danos econômicos e sociais irreparáveis. <br/>

 

           <br> Desta forma, diversos países do mundo têm aprovado ou elaborado leis para proteger empresas e pessoas de possíveis vazamentos de dados oriundos de ataques cibernéticos. No Brasil as empresas terão que se adaptar e seguir a Lei Geral de Proteção de Dados. <br/>
            
             
            
            <br>Neste cenário se faz necessária a formação de profissionais capazes de planejar, realizar a gestão e implantar técnicas de defesa cibernética em empresas dos mais diversos setores da economia.<br/>
            
             
            
           <br> Os profissionais serão capacitados em segurança para implementar soluções e políticas de forma a permitir o cumprimento da lei. Além disso, muitos ISOs, políticas e normas de segurança de informação devem ser seguidas pelas empresas sob a pena de sofrer sanções de governos ou até do mercado financeiro.<br/></p>
    <h3>Professor Coordenador</h3>
    <div>
        <img align= "left" src="static/pelé.jpg" width="30%" height="15%"/>
    </div>
    <div class="texto">
        <h3>Edson Arantes do Nascimento</h3>
        <ul>7x melhor do mundo</ul>
        <ul>3x Copa do Mundo</ul>
        <ul>2x libertadores</ul>
        <ul>6x Campeonato Brasileiro</ul>
        <ul>2x Copa do mundo de clubes</ul>
    </div>

    <p class="right"><strong>Tecnólogo</strong></p>
    <p class="right">Período: Noturno (19h00 às 22h40)</p>
    <p class="right">Duração: 5 Semestres</p>
    <p class="right">Modalidade: Presencial</p>
    <p class="right">Período Noturno: <em>Por: R$ 930,75*</em> - 15% OFF</p>

</body>
</html>