<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Engenharia de computação</title>
    <link rel="stylesheet"
        type= "text/css"
        href= "sec.css">
</head>
<body>
    <div class="menu">
        <span> <a href="index.html">Página inicial</a> </span>
        <span><a href="cursos.html">Cursos</a></span>
        <span><a href="noticias.html">Notícias</a></span>
    </div>
    <h2><center>Sobre o curso</center></h2>
    <p><br>A graduação em Engenharia da Computação busca formar profissionais para atuar em automação de processos, integrando aspectos relacionados ao desenvolvimento e gerência de projetos de hardware e software. Tais aspectos envolvem sistemas embarcados, sistemas de tempo real, sistemas integrados de hardware e software, sistemas distribuídos, redes de computadores, robótica e Internet das Coisas.<br/>

        <br>O curso possui uma linha de formação com ênfase em IoT e Indústria 4.0, temas atuais e de interesse mundial -  todos os setores da economia serão impactados por estas transformações digitais nos próximos anos.<br/>
        
        <br>Desta forma, o aluno será capacitado para desenvolver sistemas para Internet das Coisas e Indústria 4.0 a partir de sólidos conhecimentos de programação, redes de comunicação, hardware e eletrônica, que são foco de várias disciplinas da grade. Além disso, temas como Inovação, Empreendedorismo, Gestão e Economia também farão parte da formação do nosso engenheiro.<br/></p>
    <h3>Professor Coordenador</h3>
    <div>
        <img align= "left" src="messi.jpg" width="40%" height="15%"/>
    </div>
    <div class= "texto">
        <h3>Lionel Messi</h3>
        <ul>6x Melhor do mundo</ul>
        <ul>4x Campeão da Liga dos Campeões</ul>
        <ul>La Liga: 2004–05, 2005–06, 2008–09, 2009–10, 2010–11, 2012–13, 2014–15, 2015–16, 2017–18, 2018–19</ul>
        <ul>Copa do Mundo de Clubes da FIFA: 2009, 2011, 2015</ul>
    </div>

    <p class="right"><strong>Bacharelado</strong></p>
    <p class="right">Período: Matutino (08:00 às 11:40)</p>
    <p class="right">Período: Noturno (19h00 às 22h40)</p>
    <p class="right">Duração: 8 Semestres</p>
    <p class="right">Modalidade: Presencial</p>
    <p class="right">Período Matutino: <em>Por: R$ 756,60*</em> - 35% OFF</p>
    <p class="right">Período Noturno: <em>Por: R$ 854,10*</em> - 35% OFF</p>

</body>
</html>