<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jogos digitais</title>
    <link rel="stylesheet"
        type= "text/css"
        href= "sec.css">
</head>
<body>
    <div class="menu">
        <span> <a href="/">Página inicial</a> </span>
        <span><a href="cursos.html">Cursos</a></span>
        <span><a href="noticias.html">Notícias</a></span>
    </div>
    <h2><center>Sobre o curso</center></h2>
    <p><br>A graduação em Jogos Digitais aborda as ferramentas práticas e teóricas para o aluno projetar, implementar e testar jogos. Com a criação de personagens, ambientes, objetos, interfaces e regras, é possível aprender sobre tudo o que é necessário para criar um jogo. Além disso, o profissional também pode aplicar técnicas de programação, áudio e elementos em 2D e 3D.<br/>

            <br>Com conhecimento interdisciplinar, o aluno terá contato com todas as fases do projeto, desde o design, arte visual, áudio e programação até a gestão de projetos e negócios.<br/>
            
            <br>O aluno ainda estará preparado para desenvolver games de diversos gêneros, para diversas plataformas e áreas. Vários setores como educação, saúde, marketing e até treinamento têm cada vez mais utilizado os chamados "serious games" em suas atividades, o que abre um grande leque de opções para a profissão.<br/>
            
            <br>Existe também a possibilidade de atuar como desenvolvedor independente (indie) de forma autônoma ou mesmo criar seu negócio próprio.<br/>
            
            <br>O curso tem vários diferenciais que são essenciais para uma carreira de sucesso, como a formação abrangente, que traz uma visão geral e aplicada sobre várias áreas do desenvolvimento de jogos digitais, e a duração de dois anos, que permite ao aluno preparar-se mais rapidamente para o mercado de trabalho.<br/></p>
    <h3>Professor Coordenador</h3>
    <div>
        <img align="left" src="kaka.jpg" width="40%" height="15%"/>
    </div>
    <div class="texto">
        <h3>Ricardo Izecson dos Santos Leite</h3>
        <ul>1x melhor do mundo</ul>
        <ul>1x Copa do mundo</ul>
        <ul>2x Copa das Confederações</ul>
        <ul>1x Campeonato Espanhol</ul>
        <ul>1x Liga dos Campeões</ul>
        <ul>1x Liga Italiana</ul>
    </div>

    <p class="right"><strong>Tecnólogo</strong></p>
    <p class="right">Período: Matutino (08:00 às 11:40)</p>
    <p class="right">Período: Noturno (19h00 às 22h40)</p>
    <p class="right">Duração: 4 Semestres</p>
    <p class="right">Modalidade: Presencial</p>
    <p class="right">Período Matutino: <em>Por: R$ 630,50*</em> - 35% OFF</p>
    <p class="right">Período Noturno: <em>Por: R$ 711,75*</em> - 35% OFF</p>

</body>
</html>