<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mecatrônica</title>
    <link rel="stylesheet"
        type= "text/css"
        href= "sec.css">
</head>
<body>
    <div class="menu">
        <span> <a href="/">Página inicial</a> </span>
        <span><a href="cursos.html">Cursos</a></span>
        <span><a href="noticias.html">Notícias</a></span>
    </div>
    <h2><center>Sobre o curso</center></h2>
    <p>Com a evolução das novas tecnologias, a indústria está cada vez mais exigente ao contratar profissionais qualificados.</p>
    <p>Para isso, o curso técnico de Mecatrônica da Faculdade Impacta oferece a você uma formação profissional híbrida, envolvendo eletrotécnica, eletrônica, mecânica e informática, integrando ainda tecnologias de engenharia de produto, planejamento, produção, processo, suporte e vendas. Isso possibilita novas formas de gestão e de produção com o objetivo de reduzir custos, melhorar a qualidade, aumentar a satisfação do cliente e garantir posição num mercado extremamente competitivo e globalizado.</p>
    <h3>Professor Coordenador</h3>
    <div>
            <img align="left" src="zidane.jpg" width="40%" height="15%"/>
    </div>
    <div class="texto">
        <h3>Zinedine Zidane</h3>
        <ul>Melhor jogador do mundo pela FIFA: 1998, 2000, 2003</ul>
        <ul>Copa Intercontinental: 1996, 2002</ul>
        <ul>Liga dos Campeões da UEFA: 2015–16, 2016–17, 2017–18</ul>
        <ul>Eurocopa: 2000</ul>
        <ul>Supercopa da Espanha: 2001, 2003</ul>
        <ul>Copa do Mundo: 1998</ul>
    </div>

    <p class="right"><strong>Técnico</strong></p>
    <p class="right">Período: Matutino (08:00 às 11:40)</p>
    <p class="right">Período: Noturno (19h00 às 22h40)</p>
    <p class="right">Duração: 4 Semestres</p>
    <p class="right">Modalidade: Presencial</p>
    <p class="right">Período Matutino: <em>Por: R$ 308,00*</em> - 20% OFF</p>
    <p class="right">Período Noturno: <em>Por: R$ 358,40*</em> - 20% OFF</p>

</body>
</html>