<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Faculdade Normalizada</title>
    <link rel="stylesheet"
    type="text/css"
    href="static/css/principal.css">
</head>
<body>
    <div class="logo">
        <img src="logo.png" width="100px" align="left">
        <h2>Faculdade normalizada</h2>
    </div>

    <div class="menu">
    <span> <a href="/">Página inicial</a> </span>
    <span><a href="cursos.html">Cursos</a></span>
    <span><a href="noticias.html">Notícias</a></span>
    </div>

    <img src="vestibular.png" width="100%" height="500px"> <br/>
    <div class="texto">
        <h2>Nova lanchonete</h2> <br/>
        <p class="centro">A Faculdade Normalizada mais uma vez vem inovando
            e trazendo uma lanchonete temática e diferenciada para os alunos.
            Trazendo o tema de Bob Esponja, a lanchonete vem fazendo sucesso e
            encantando a todos.
        </p>
        <center><img src="static/lanchonete.jpg" width="50%"></center>
    </div>

    <div class="texto">
        <h2>Agora tem quadra!</h2> <br/>
        <p class="centro">A Faculdade Normalizada a pedido de alunos interessados
        em desenvolver o lado esportivo, traz uma novidade.
        Uma quadra nova para a realização de esportes durante os intervalos ou depois das aulas, tudo isso de graça.
        </p>
        <center><img src="static/quadra.jpg" width="50%"></center>
    </div>

    <div class="texto">
            <h2>Tecnologia de ponta</h2> <br/>
            <p class="centro">E também é notícia! Dessa vez a Faculdade Normalizada trouxe uma inovação tecnológica
            totalmente diferente e que promete abrir novas oportunidades no ensino dos alunos.
            Agora em parceria com a IBM BRASIL, a Normalizada está implementando óculos de realidade virtual nas salas
            de aula para total imersão no conteúdo das aulas.    
            </p>
            <center><img src="vr.jpg" width="50%"></center>
        </div>

        <div class="texto">
                <h2>Que tal uma piscininha?!</h2> <br/>
                <p class="centro">Agora no verão a Normalizada anuncia oficialmente a
                    inauguração da sua piscina olímpica para que os alunos desfrutem e
                    se refresquem nesse calorzão depois das aulas.    
                </p>
                <center><img src="static/piscina.jpg" width="50%"></center>
            </div>
        <div align="center">
            <p>(11) 4002-8922</p>
            <p>Normalizada 2019.</p>
            <p>Todos os direitos reservados</p>
        </div>


</body>
</html>