<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistemas de Informação</title>
    <link rel="stylesheet"
        type= "text/css"
        href= "static/css/sec.css">
</head>
<body>
    <div class="menu">
        <span> <a href="/">Página inicial</a> </span>
        <span><a href="cursos.html">Cursos</a></span>
        <span><a href="noticias.html">Notícias</a></span>
    </div>
    <h2><center>Sobre o curso</center></h2>
    <p><br>A graduação de Sistemas de Informação visa formar empreendedores, profissionais e pesquisadores focados na construção, manutenção e evolução dos sistemas computacionais de apoio às organizações.<br/>

        <br>O perfil empreendedor é alcançado a partir da criação de startups e produtos inovadores durante os quatro semestres finais do curso.<br/>
        
        <br>Já o perfil profissional é alcançado a partir da capacidade de entender e analisar problemas reais e desenvolver soluções pragmáticas com o uso de tecnologias de melhor custo-benefício.<br/>
        
        <br>O constante envolvimento do aluno na solução de problemas impulsiona o perfil investigativo, não apenas como um pesquisador intuitivo, mas, sobretudo, como conhecedor de processos e métodos para a realização de pesquisas científicas.<br/>
        
        <br>O grande diferencial deste curso está na estrutura curricular: nos quatro primeiros semestres o aluno aprende a “saber fazer”, ou seja, o aluno aprende a analisar problemas e criar soluções com o uso das tecnologias da informação. Isso permite que ele receba no meio da graduação o diploma de Análise e Desenvolvimento de Sistemas.<br/>
        
        <br>Nos quatro semestres finais, o aluno aprende a “inovar”, ou seja, aprende a utilizar a sua capacidade de “saber fazer” para construir produtos ou serviços evolucionários, revolucionários, ou até, disruptivos dentro de suas próprias startups.<br/></p>
    <h3>Professor Coordenador</h3>
    <div>
        <img align="left" src="static/ronaldinho.jpg" width="40%" height="15%"/>
    </div>
    <div class="texto">
        <h3>Ronaldinho Gaúcho</h3>
        <ul>2x melhor do mundo</ul>
        <ul>Campeonato espanhol: 2004-05,2005-06</ul>
        <ul>1x ganhou a Liga dos Campeões</ul>
        <ul>1x libertadores</ul>
        <ul>1x Copa do mundo</ul>
    
    </div>
    <p class="right"><strong>Bacharelado</strong></p>
    <p class="right">Período: Matutino (08:00 às 11:40)</p>
    <p class="right">Período: Noturno (19h00 às 22h40)</p>
    <p class="right">Duração: 8 Semestres</p>
    <p class="right">Modalidade: Presencial</p>
    <p class="right">Período Matutino: <em>Por: R$ 756,60*</em> - 35% OFF</p>
    <p class="right">Período Noturno: <em>Por: R$ 854,10*</em> - 35% OFF</p>
</body>
</html>
